#ifndef SECRETS_H
#define SECRETS_H

// OTAA keys !!!! KEYS ARE MSB !!!!
// Example keys (replace with your actual keys)
// NODE_APP_EUI AKA NODE_JOIN_EUI
#define NODE_DEVICE_EUI {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}
#define NODE_APP_EUI    {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00} // AKI JOIN_EUI
#define NODE_APP_KEY    {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}

#endif // SECRETS_H